.container {
  max-width: 640px;
  margin: auto;
}

.main > div {
  margin: 0.8rem 0rem;
}

/* TIMER SECTION */
.main {
  width: 500px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timerContainer {
  padding: 2rem;
  background-color: #dd6662;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  transition: 1s;
}

.timerOptions ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonActive {
  /* background-color: aliceblue; */
}

.timerDisplay {
  font-weight: 600;
  font-size: 8rem;
}

/* BELOW TIMER */
.timerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
