.container {
  max-width: 640px;
  margin: auto;
}

.main > div {
  margin: 0.8rem 0rem;
}

/* NAVBAR */

.nav {
  /* padding: 1rem; */
  margin: 1rem;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
  flex-grow: 1;
}

.progressContainer {
  margin: 0.8rem 0;
  height: 1px;
  background-color: #c34c48;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
}

/* TIMER SECTION */
.main {
  width: 500px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timerContainer {
  padding: 2rem;
  background-color: #dd6662;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.timerOptions ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonActive {
  background-color: aliceblue;
}

.timerDisplay {
  font-weight: 600;
  font-size: 8rem;
}

/* BELOW TIMER */
.timerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
